.container {
  padding: 0.2em;
  box-shadow: 3px 3px 5px 0px rgba(191, 191, 191, 0.53);
  transition: transform 0.25s ease-in;
}

.container:hover {
  transform: scale(1.01);
}

.container.grid {
  width: 50%;
}

.container.list {
  width: 100%;
}

.video {
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: white;
}

.metadata {
}

.thumbnail {
  width: 40%;
  margin-right: 0.5em;
}

.title {
  margin-bottom: 0.5em;
}

.channel {
  font-size: 0.9rem;
  opacity: 0.7;
}
