.container {
  width: 100%;
  background-color: black;
  padding: 1em;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  font-size: 1.5rem;
}

.input {
  margin-left: 1em;
  padding: 0.5em;
}

.btn {
  padding: 0.5em;
}
